[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/styleguide"]
	path = external/styleguide
	url = https://github.com/google/styleguide.git
